[Unit]
Description=Fetch CIDR list based on country code periodically
After=network.target
After=network-online.target
After=netfilter-persistent.service
After=ipset-persistent.service
Wants=ipset-fetch.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash ~/tailscale/shells/fetch-ipset-from-country.bash ir
ExecStart=/usr/bin/bash ~/tailscale/shells/fetch-ipset-from-asn.bash 32590

[Install]
WantedBy=multi-user.target